/**** 
NOTES
In style.css remove footer section!
****/
/**** BEGIN BODY****/
/*body{margin:0; padding:0; box-shadow: 0px -5px 11px #FF0A0A;  font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;}
/**** END BODY****/


/****BEGIN HEADER ****/
header_backdrop{
background: #101e54; /* Old browsers */
background: -moz-linear-gradient(top, #101e54 0%, #1e4496 50%, #7db9e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#101e54), color-stop(50%,#1e4496), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #101e54 0%,#1e4496 50%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #101e54 0%,#1e4496 50%,#7db9e8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #101e54 0%,#1e4496 50%,#7db9e8 100%); /* IE10+ */
background: linear-gradient(to bottom, #101e54 0%,#1e4496 50%,#7db9e8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#101e54', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}
.header{ width:100%; float:left; padding: 5 auto ; 

background: #101e54; /* Old browsers */
background: -moz-linear-gradient(top, #101e54 0%, #1e4496 50%, #7db9e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#101e54), color-stop(50%,#1e4496), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #101e54 0%,#1e4496 50%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #101e54 0%,#1e4496 50%,#7db9e8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #101e54 0%,#1e4496 50%,#7db9e8 100%); /* IE10+ */
background: linear-gradient(to bottom, #101e54 0%,#1e4496 50%,#7db9e8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#101e54', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
}
/****END HEADER ****/
/**** ****/

.sched_containers 
{
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border: 1px solid #bbb;
}





button.main {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #f7f4f7;
	padding: 5px 10px;
	background: -moz-linear-gradient(
		top,
		#132e80 0%,
		#002bff);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#132e80),
		to(#002bff));
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 2px solid #000000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0),
		0px 1px 0px rgba(255,255,255,0);
}
/*
<button type="button" name="" value="" class="main">Login</button>
*/
graygradient
{
border:1px solid #545454; -webkit-border-radius: 7px; -moz-border-radius: 7px;border-radius: 7px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 7px 7px 7px 7px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #707070; background-image: -webkit-gradient(linear, left top, left bottom, from(#707070), to(#8F8F8F));
 background-image: -webkit-linear-gradient(top, #707070, #8F8F8F);
 background-image: -moz-linear-gradient(top, #707070, #8F8F8F);
 background-image: -ms-linear-gradient(top, #707070, #8F8F8F);
 background-image: -o-linear-gradient(top, #707070, #8F8F8F);
 background-image: linear-gradient(to bottom, #707070, #8F8F8F);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#707070, endColorstr=#8F8F8F);
}

.graygradient:hover{
 border:1px solid #3d3d3d;
 background-color: #575757; background-image: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#767676));
 background-image: -webkit-linear-gradient(top, #575757, #767676);
 background-image: -moz-linear-gradient(top, #575757, #767676);
 background-image: -ms-linear-gradient(top, #575757, #767676);
 background-image: -o-linear-gradient(top, #575757, #767676);
 background-image: linear-gradient(to bottom, #575757, #767676);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#575757, endColorstr=#767676);
}
.btn-whiteongray
{
border:1px solid #545454; -webkit-border-radius: 7px; -moz-border-radius: 7px;border-radius: 7px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 7px 7px 7px 7px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #707070; background-image: -webkit-gradient(linear, left top, left bottom, from(#707070), to(#8F8F8F));
 background-image: -webkit-linear-gradient(top, #707070, #8F8F8F);
 background-image: -moz-linear-gradient(top, #707070, #8F8F8F);
 background-image: -ms-linear-gradient(top, #707070, #8F8F8F);
 background-image: -o-linear-gradient(top, #707070, #8F8F8F);
 background-image: linear-gradient(to bottom, #707070, #8F8F8F);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#707070, endColorstr=#8F8F8F);
}
	}
.btn-whiteonblue
{color:#FFF;background-color:#2351A6;border-color:#2351A6;
 -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	vertical-align: middle;
	a: #FFF;
	text-align:center;
	padding:1px;
	background: -moz-linear-gradient(top, rgba(30,87,153,0) 0%, rgba(30,87,153,0.8) 15%, rgba(30,87,153,1) 19%, rgba(30,87,153,1) 20%, rgba(41,137,216,1) 50%, rgba(30,87,153,1) 80%, rgba(30,87,153,1) 81%, rgba(30,87,153,0.8) 85%, rgba(30,87,153,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,0)), color-stop(15%,rgba(30,87,153,0.8)), color-stop(19%,rgba(30,87,153,1)), color-stop(20%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(80%,rgba(30,87,153,1)), color-stop(81%,rgba(30,87,153,1)), color-stop(85%,rgba(30,87,153,0.8)), color-stop(100%,rgba(30,87,153,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#001e5799',GradientType=0 ); /* IE6-9 */
	}
.btn-whiteonblue:hover,.btn-whiteonblue:focus,.btn-whiteonblue:active,.btn-whiteonblue.active,.open .dropdown-toggle.btn-whiteonblue{color:#FFF;background-color:#2351A6;border-color:#2351A6}.btn-whiteonblue:active,.btn-whiteonblue.active,.open .dropdown-toggle.btn-whiteonblue{background-image:none}.btn-whiteonblue.disabled,.btn-whiteonblue[disabled],fieldset[disabled] .btn-whiteonblue,.btn-whiteonblue.disabled:hover,.btn-whiteonblue[disabled]:hover,fieldset[disabled] .btn-whiteonblue:hover,.btn-whiteonblue.disabled:focus,.btn-whiteonblue[disabled]:focus,fieldset[disabled] .btn-whiteonblue:focus,.btn-whiteonblue.disabled:active,.btn-whiteonblue[disabled]:active,fieldset[disabled] .btn-whiteonblue:active,.btn-whiteonblue.disabled.active,.btn-whiteonblue[disabled].active,fieldset[disabled] .btn-whiteonblue.active{background-color:#d9534f;border-color:#d43f3a}.btn-whiteonblue .badge{color:#d9534f;background-color:#FFF}


.btn-blackonwhite
{color:#FFF;background-color:#000;border-color:#000
 -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	vertical-align: middle;
	}
.btn-blackonwhite:hover,.btn-blackonwhite:focus,.btn-blackonwhite:active,.btn-blackonwhite.active,.open .dropdown-toggle.btn-blackonwhite
{
color:#FFF;
background-color:#000;
border-color:#000}.btn-blackonwhite:active,.btn-blackonwhite.active,.open .dropdown-toggle.btn-blackonwhite{background-image:none}
.btn-blackonwhite.disabled,.btn-blackonwhite[disabled],fieldset[disabled] .btn-blackonwhite,.btn-blackonwhite.disabled:hover,.btn-blackonwhite[disabled]:hover,fieldset[disabled] .btn-blackonwhite:hover,.btn-blackonwhite.disabled:focus,.btn-blackonwhite[disabled]:focus,fieldset[disabled] .btn-blackonwhite:focus,.btn-blackonwhite.disabled:active,.btn-blackonwhite[disabled]:active,fieldset[disabled] .btn-blackonwhite:active,.btn-blackonwhite.disabled.active,.btn-blackonwhite[disabled].active,fieldset[disabled] .btn-blackonwhite.active{background-color:#d9534f;border-color:#d43f3a}.btn-blackonwhite .badge{color:#d9534f;background-color:#FFF}

.btn-blackonyellow
{
color:#fff;
background: #ff670f; /* Old browsers */
background: -moz-linear-gradient(top,  #ff670f 20%, #ffeadd 50%, #ff670f 80%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#ff670f), color-stop(50%,#ffeadd), color-stop(80%,#ff670f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ff670f 20%,#ffeadd 50%,#ff670f 80%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ff670f 20%,#ffeadd 50%,#ff670f 80%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ff670f 20%,#ffeadd 50%,#ff670f 80%); /* IE10+ */
background: linear-gradient(to bottom,  #ff670f 20%,#ffeadd 50%,#ff670f 80%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff670f', endColorstr='#ff670f',GradientType=0 ); /* IE6-9 */

background-color:#ff670f;

border-color:#000
 -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	vertical-align: middle;
	}
.btn-blackonyellow:hover,.btn-blackonyellow:focus,.btn-blackonyellow:active,.btn-blackonyellow.active,.open .dropdown-toggle.btn-blackonyellow
{
color:#ff670f;
background: #ff670f; /* Old browsers */
background: -moz-linear-gradient(top,  #ff670f 20%, #ffeadd 50%, #ff670f 80%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(20%,#ff670f), color-stop(50%,#ffeadd), color-stop(80%,#ff670f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ff670f 20%,#ffeadd 50%,#ff670f 80%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ff670f 20%,#ffeadd 50%,#ff670f 80%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ff670f 20%,#ffeadd 50%,#ff670f 80%); /* IE10+ */
background: linear-gradient(to bottom,  #ff670f 20%,#ffeadd 50%,#ff670f 80%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff670f', endColorstr='#ff670f',GradientType=0 ); /* IE6-9 */

background-color:#ff670f;
border-color:#000}.btn-blackonyellow:active,.btn-blackonyellow.active,.open .dropdown-toggle.btn-blackonyellow{background-image:none}
.btn-blackonyellow.disabled,.btn-blackonyellow[disabled],fieldset[disabled] .btn-blackonyellow,.btn-blackonyellow.disabled:hover,.btn-blackonyellow[disabled]:hover,fieldset[disabled] .btn-blackonyellow:hover,.btn-blackonyellow.disabled:focus,.btn-blackonyellow[disabled]:focus,fieldset[disabled] .btn-blackonyellow:focus,.btn-blackonyellow.disabled:active,.btn-blackonyellow[disabled]:active,fieldset[disabled] .btn-blackonyellow:active,.btn-blackonyellow.disabled.active,.btn-blackonyellow[disabled].active,fieldset[disabled] .btn-blackonyellow.active{background-color:#d9534f;border-color:#d43f3a}.btn-blackonyellow .badge{color:#d9534f;background-color:#FFF}





/***BEING FOOTER ***/
/*** footer ***/
.footer{
width:100%; 
float:center;  
 
padding:31px 0 0 0; 
text-align:center; 
color:#989898; 
line-height:30px;
box-shadow: 0px 0px 11px;
}
.footer a{color:#FFF; text-decoration:none; margin:0 10px;}
.footer a:hover{color:#fff; text-decoration:none;}
/***END FOOTER ***/
.rounded_containers 
{
border-radius: 15px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border: 0px solid #000;
}

.black_gradient
{
color:#FFF;
text-align:left;
background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 19%, #474747 33%, #2c2c2c 50%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(19%,#666666), color-stop(33%,#474747), color-stop(50%,#2c2c2c), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 19%,#474747 33%,#2c2c2c 50%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 19%,#474747 33%,#2c2c2c 50%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 19%,#474747 33%,#2c2c2c 50%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* IE10+ */
background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 19%,#474747 33%,#2c2c2c 50%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
padding: 1px;
}
.blue_gradient
{
color:#FFF;
background: -moz-linear-gradient(top, rgba(30,87,153,0) 0%, rgba(30,87,153,0.8) 15%, rgba(30,87,153,1) 19%, rgba(30,87,153,1) 20%, rgba(41,137,216,1) 50%, rgba(30,87,153,1) 80%, rgba(30,87,153,1) 81%, rgba(30,87,153,0.8) 85%, rgba(30,87,153,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,0)), color-stop(15%,rgba(30,87,153,0.8)), color-stop(19%,rgba(30,87,153,1)), color-stop(20%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(80%,rgba(30,87,153,1)), color-stop(81%,rgba(30,87,153,1)), color-stop(85%,rgba(30,87,153,0.8)), color-stop(100%,rgba(30,87,153,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#001e5799',GradientType=0 ); /* IE6-9 */
a: text-color:#FFF;
}

}


flat_white
{
background-color: rgba(255, 255, 255, 0.5);
background:#FFF;
}
/*drawn from styles.css */
.details_holder{ 
width:980px; float:left; padding:10px; box-shadow:0px 0px 11px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
background:#FFF;
}
.details_holder h1{width:100%; margin:0; float:left; font-size:25px; color:#095189; border-bottom:2px solid #ccc; padding:0 0 5px 0; font-weight:normal;}
.details_holder h2{width:100%; margin:0; float:left; font-size:15px; color:#333; border-bottom:3px solid #091d2d; padding:0 0 5px 0;}

.pad-right
{
padding-right:10px;
}
a:link {color:#FFF;}      /* unvisited link */
a:visited {color:#FFF;}  /* visited link */
a:hover {color:#FFF;}  /* mouse over link */
a:active {color:#FFF;}  /* selected link */

top_align
{
float:top;
position:dynamic;
display:inline-block;
vertical-align:top;
}

.rounded_buttons 
{
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border: 0px solid #000;
}
/* Shadows on containers */
shadow
{
box-shadow: 0px 0px 11px;
}



/** Begin Legacy content **/
body{margin:0; padding:0; box-shadow: 0px -5px 11px ;  font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;}

#main{margin:0 auto; width:980px;}
img{border:0;}
.details_holder{ 
width:980px; float:left; padding:10px; box-shadow:0px 0px 11px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

}
.details_holder h1{width:100%; margin:0; float:left; font-size:25px; color:#095189; border-bottom:2px solid #ccc; padding:0 0 5px 0; font-weight:normal;}
.details_holder h2{width:100%; margin:0; float:left; font-size:15px; color:#333; border-bottom:3px solid #091d2d; padding:0 0 5px 0;}

/*** HEADER***/
.logo{ width:210px; float:left;}
.login_box{width:378px; float:right; padding:10px 0 0 0;}
.login_box .textbox{ width:150px; float:left;}
.login_box .textbox input{background:url(../images/textbox1.png) no-repeat 0 0; width:110px; height:27px; border:0; font-size:12px; color:#666; padding:0 0 0 30px;}
.login_box .textbox input.password{background:url(../images/textbox2.png) no-repeat 0 0;}
.login_box .btn_holder{ width:78px; float:left; padding:1px 0 10px 0;}
.login_box .checkbox{width:25px; float:left;}
.login_box .checkbox_text{ width:353px; float:left; color:#fff; padding:3px 0 0 0;}
.login_box .checkbox_text a{color:#00c6ff; text-decoration:none; font-weight:bold;}
.login_box .checkbox_text a:hvoer{color:#fff;}

.header_content{ width:100%; float:right; position:middle; align:center; padding:0px 0 0 0px;}
.header_content .search_holder{width:282px; float:left;}
.header_content .search_holder .textbox{ width:226px; height:35px; float:left; background:url(../images/serach-box.png) no-repeat 0 0; padding:5px 0 0 10px;}
.header_content .search_holder .textbox input{border:0; font-size:14px; color:#333; width:220px; background:none;}
.header_content .search_holder .btn_holder{width:46px; float:left;}
.header_content .top_btn{width:358px; float:left; text-align:right;}
.header_content .top_btn ul{width:100%; margin:0; padding:0;}
.header_content .top_btn ul li{list-style:none; float:right; margin:0 0 0 7px;}
.header_content .top_btn select{float:right; margin:0 0 0 10px; background:#143a58; color:#fff; padding:6px 5px; font-size:14px; border:1px solid #ccc;}
.header_content .top_btn img{margin:0 0 0 10px;}
.header_content .top_btn img:hover{opacity:0.8; filter:alpha(opacity=80);}
/******/
#navigation{width:358px; float:left;}
#navigation ul{ list-style:none; margin:0; padding:0; color:#000; text-transform:uppercase;} 
#navigation li{float:left; padding:0px; margin:0 5px; float:right;} 
#navigation li a{color:#; display:block; padding:5px 10px	; align: right;text-align:center; text-decoration:none; border:0px solid #ccc;}
/*#navigation li a:hover, #navigation ul li:hover a{color:#000;text-decoration:none; background:#fff;}*/
#navigation li .current{color:#fff;text-decoration:none; background:url(../images/nav-ov.png) repeat-x;}
#navigation li ul{background:#e8e8e8; display:none; padding:0px; margin:0px 0 0 0; border:0px; position:absolute; width:170px; z-index:200; /*top:1em; /*left:0;*/} 
#navigation li:hover ul{display:none;} 
#navigation li li {display:block; float:left; padding:0px; width:168px; border:1px solid #ccc; background:#e8e8e8; margin:0; cursor:default; text-transform:none;height:28px; padding:0;}
#navigation li:hover li a{background:none; padding:5px; color:#000; width:158px; height:18px;} 
#navigation li ul li a{display:block; font-style:normal; margin:0px; text-align:left; width:168px; padding:0; height:28px;}
#navigation li ul li a:hover{background:#ccc;}

/*** footer ***
.footer{ width:980px; float:left; background:url(../images/footer.png) repeat-x; height:125px; padding:31px 0 0 0; text-align:center; color:#989898; line-height:30px;}
.footer a{color:#989898; text-decoration:none; margin:0 10px;}
.footer a:hover{color:#fff; text-decoration:none;}

/*** home page ***/
.benefit_buttons{width:960px; float:left; text-align:center; padding:10px 0; background:#d8d8d8;}
.benefit_buttons img{margin:0 25px;}

.main_container{width:960px; float:left; padding:0px 0;}

.main_content{ width:570px; float:left; padding:0 0px 0 0;}
.main_content .title{width:570px; float:left; font-size:25px; color:#095189; border-bottom:2px solid #ccc; padding:0 0 5px 0;}
.main_content .video_holder{width:570px; float:left; padding:15px 0; line-height:18px;}
.main_content .video_holder strong{font-size:17px; color:#000;}

.sidebar{ width:300px; height:355px; float:left; background:url(../images/box.png) no-repeat 0 0; padding:20px 20px 0 20px;}
.sidebar .title{width:300px; float:left; font-size:25px; color:#095189; border-bottom:2px solid #ccc; padding:0 0 5px 0;}
.form_holder{width:300px; float:left; padding:15px 0;}
.form_holder .text1{width:300px; float:left; padding:0 0 10px 0;}
.form_holder .text2{ width:80px; float:left; height:35px; padding:5px 0 0 0; font-weight:bold;}
.form_holder .text3{ width:220px; float:left; height:40px;}
.form_holder .text3 input, textarea{border:1px solid #ccc; padding:5px; font-size:12px; font-family:Arial, Helvetica, sans-serif;}
.form_holder .text4{ width:220px; float:left; padding:0 0 20px 0;}
.form_holder .text4 input, textarea{border:1px solid #ccc; padding:5px; font-size:12px; font-family:Arial, Helvetica, sans-serif;}
.form_holder .btn_holder{ width:220px; float:left; padding:0 0 0 80px;}

.testimonials{ width:960px; float:left;}
.testimonials .title{width:960px; float:left; font-size:25px; color:#095189; border-bottom:2px solid #ccc; padding:0 0 5px 0;}
.testimonials_text_holder{width:960px; float:left; padding:15px 0;}
.testimonials_text_holder .text_holder{ width:424px; height:auto; background:url(../images/testimonials.png) no-repeat 0 0; padding:10px; float:left; margin:0 15px;}
.testimonials_text_holder .text_holder strong{color:#063356;}

/*** INNER PAGES ***/
.innerpage_content{ width:570px; float:left; padding:0 50px 0 0;}
.innerpage_content .heading{ border-bottom:2px solid #CCCCCC;color:#095189;float:left;font-size:25px;padding:0 0 5px;width:570px;}
.main_box_container{width:550px; float:left; background:url(../images/main-box.png) repeat-x; border:1px solid #ccc; padding:9px; margin-bottom:10px;}
.main_box_container .img_holder{ width:100px; float:left;}
.main_box_container .img_holder img{border:1px solid #ccc; padding:2px;}
.main_box_container .text_holder{width:450px; float:left; line-height:20px;}
.main_box_container .text_holder a{color:#000; text-decoration:none;}
.main_box_container .text_holder a:hover{color:#000; text-decoration:underline;}
.main_box_container .text_holder ul{width:450px; margin:0; padding:0;}
.main_box_container .text_holder ul li.text1{ width:110px; list-style:none; float:left; font-weight:bold;}
.main_box_container .text_holder ul li.text2{width:340px; float:left; list-style:none;}
.main_box_container .text_holder ul li.text2 .name{width:190px; float:left;}
.main_box_container .text_holder ul li.text2 .btn_holder{width:150px; float:left; text-align:right;}
.main_box_container .text_holder .textbox{width:450px; float:left; padding:10px 0 0 0;}
.main_box_container .text_holder .textbox input{border:1px solid #ccc; padding:5px; font-size:12px;} 

.badgs{width:570px; float:left; background:#fff; border:1px solid #ccc; margin:0 0 10px 0; text-align:center; font-size:20px; padding:10px 0;}

.chart_box{width:550px; float:left; background:url(../images/main-box.png) repeat-x; border:1px solid #ccc; padding:9px; margin-bottom:10px; font-size:15px;}
.chart_box.bg_none{background:none; border:0;}
.chart_box .text1{ width:275px; float:left; text-align:center;}
.chart_box .text2{width:275px; float:left; padding:30px 0 0 0;}
.chart_box .text2 .color{ width:35px; float:left; padding:0 0 5px 0;}
.chart_box .text2 .color_text{ width:240px; float:left; padding:5px 0 15px 0;}
.chart_box .text3{width:550px; float:left; padding:15px 0 0 0; text-align:center; font-size:15px;}

.innerpage_sidebar{ width:340px; float:left;}
.innerpage_sidebar .btn_holder{width:340px; float:left; padding:0 0 15px 0; text-align:center;}
.innerpage_sidebar .btn_holder img:hover{opacity:0.9; filter:alpha(opacity=90);}

/*** New Page **/
.other_content{width:920px; float:left; background:#f0f0f0; padding:20px; -moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px; margin-bottom:100px;}
.other_content h1{width:100%; float:left; color:#091e2f; font-size:20px; padding:0 0 20px 0; margin:0;}
.other_content h1 span{font-size:12px; color:#333; font-weight:normal;}
.other_content input{border:1px solid #ccc; padding:6px; -moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px; font-size:13px;}
.other_content .checkox_style{width:0; padding:0;}
.other_content a{color:#0099d8; text-decoration:none;}
.other_content a:hover{color:#000; text-decoration:none;}

/*** T1 ***/
.signin_holder{ width:500px; float:left;}
.signin_holder .text1{ width:110px; float:left; padding:7px 0 10px 0; font-weight:bold;}
.signin_holder .text2{ width:390px; float:left; padding:0 0 10px 0}
.signin_holder .text2 .checkbox{width:25px; float:left;}
.signin_holder .text2 .checkbox_text{width:365px; float:left; padding:2px 0 0 0;}
.signin_holder .btn_holder{ width:390px; float:left; padding:10px 0 10px 110px;}

.social_icon{width:420px; float:left;}
.social_icon .img_holder{width:420px; float:left;}
.social_icon .img_holder img{margin:0 10px 0 0;}

/*** CONTACT US PAGE ***/
.contact_info{ width:530px; float:left; background:url(../images/box.png) repeat-x; border:1px solid #ccc; padding:19px;}
.contact_info h2{ width:100%; float:left; margin:0; padding:0; height:35px; font-size:17px;}
.contact_info ul{width:530px; margin:0; padding:0; line-height:22px;}
.contact_info ul li{list-style:none; float:left; width:120px; font-weight:bold;}
.contact_info ul li.big{width:410px; font-weight:normal;}
.contact_info ul li a{color:#333; text-decoration:none;}
.follow_us{width:570px; float:left; padding:20px 0 0 0; font-size:17px; color:#000; font-weight:bold;}
.follow_us img{margin:10px 0 0 0;}

/*** COMPANY BENEFITS ***/
.company_beenefits{ width:960px; float:left; padding:0 50px 0 0;}
.company_beenefits .title{width:960px; float:left; font-size:25px; color:#095189; border-bottom:2px solid #ccc; padding:0 0 5px 0; margin-bottom:25px}
.company_beenefits .video_holder{ width:380px; float:left;}
.company_beenefits .benefit_text{width:580px; float:left;}
.company_beenefits .benefit_text .text_holder{width:580px; float:left; border-bottom:1px solid #ccc; padding:0 0 10px 0; margin-bottom:10px; line-height:17px;}
.company_beenefits .benefit_text .text_holder strong{font-size:17px; color:#000; line-height:normal;}
.company_beenefits .thumb_images{width:960px; float:left; padding:30px 0;}
.company_beenefits .thumb_images ul{width:960px; margin:0; padding:0;}
.company_beenefits .thumb_images ul li{list-style:none; float:left; width:220px; float:left; text-align:center; margin:0 26px 0 0;}
.company_beenefits .thumb_images ul li.nospace{margin:0;}
.company_beenefits .thumb_images ul li img{margin:0 0 15px 0;}
.company_beenefits .thumb_images ul li a{color:#333; text-decoration:underline;}
.company_beenefits .thumb_images ul li a:hover{color:#000; text-decoration:none;}
.company_beenefits .btn_holder{width:960px; float:left; text-align:center; padding:0 0 20px 0;}

/*** badges_mockup ***/
.badges_shadetabs{ width:568px; float:left; margin-bottom:15px; font-weight:bold; background:url(../images/tab-bg.png) repeat-x; height:38px; border:1px solid #ccc;}
.badges_shadetabs ul{ width:568px; margin:0; padding:0;}
.badges_shadetabs li{float:left; list-style:none; width:auto;}
.badges_shadetabs li a{ color:#000; text-decoration:none;border-right:1px solid #ccc; display:block; float:left; height:28px; padding:10px 20px 0 20px;}
.badges_shadetabs li a:hover{ color:#fff; text-decoration:none; background:#0b2133;}
.badges_shadetabs li a.selected{ /*selected main tab style */background:#0b2133; color:#fff; height:28px; padding:10px 20px 0 20px;}
.badges_details{width:570px; float:left; padding:10px 0;}
.badges_details strong{ font-size:16px; font-weight:normal;}
.badges_details ul{width:570px; margin:0; padding:0; font-size:12px;}
.badges_details ul li{width:135px; float:left; list-style:none; text-align:center; border:1px solid #ccc; margin:0 7px 10px 0; padding:10px 0 0 0; height:160px;}
.badges_details ul li.nospace{margin:0 0 10px 0;}
.badges_details ul li a{color:#000; text-decoration:none;}

/*** updater_mockup ***/
.updater_mockup_text{width:960px; float:left; padding:10px 0;}
.updater_mockup_text strong{font-size:17px;}
.savings_holder{width:960px; float:left; padding:10px 0;}
.savings_holder ul{width:960px; margin:0; padding:0; font-size:20px; font-weight:bold; color:#fff;}
.savings_holder ul li{width:280px; float:left; list-style:none; text-align:center; padding:25px 0; background:#008ad5; margin:0 60px 0 0}
.savings_holder ul li.nospace{margin:0;}
.savings_holder ul li a{color:#fff; text-decoration:none;}
.job_details{width:960px; float:left; border-bottom:1px solid #ccc;border-top:1px solid #ccc; padding:10px 0;}
.job_details strong{font-size:17px;}
.job_details ul{width:480px; margin:0; padding:0; float:left; line-height:25px;}
.job_details ul li{list-style:none; float:left; width:480px; text-align:center;}
.job_details ul li a{color:#000; text-decoration:none;}
.update_button{width:960px; float:left; padding:10px 0; text-align:center;}
.similer_users{width:960px; float:left;}
.similer_users ul{width:960px; margin:0; padding:0; line-height:25px; font-weight:bold; color:#000;}
.similer_users ul li{float:left; list-style:none; border:1px solid #ccc; margin:0 30px 0 0; width:280px; padding:9px; height:80px;}
.similer_users ul li.nospace{margin:0 0 0 0;}
.similer_users ul li a{color:#000; text-decoration:none;}
.similer_users ul li img{float:left; padding:0 15px 0 0;}

/*** Employee_status ***/
.employee_status_title{width:570px; float:left; padding:10px 0; font-size:15px; color:#000;}
.employee_status_title span{float:left; padding:5px 0 0 0; font-weight:bold;}
.employee_status_title select{float:right; margin:0 0 0 10px; background:#143a58; color:#fff; padding:6px 5px; font-size:14px; border:1px solid #ccc;}
.employee_status_title span.date{float:right; padding:5px 20px; font-size:20px; color:#fff; border:1px solid #ccc; background:#153e5e;}
.employee_status_details{width:570px; float:left; padding:10px 0;}
.employee_status_details ul{width:570px; margin:0; padding:0; font-size:15px;}
.employee_status_details ul li{list-style:none; width:135px; float:left; text-align:center; margin:0 10px 0 0;}
.employee_status_details ul li.nospace{margin:0;}
.employee_status_details ul li span{float:left; width:133px; height:40px; padding:20px 0 0 0; font-size:17px; font-weight:bold; background:#e8e8e8; border:1px solid #ccc;}

.history_details{width:550px; float:left; background:url(../images/main-box.png) repeat-x; border:1px solid #ccc; padding:9px 9px 0 9px; margin-bottom:15px; font-size:15px; font-weight:bold; color:#000;}
.history_details .text1{ width:150px; float:left; height:45px; padding:10px 0 0 0;}
.history_details .text2{ width:400px; float:left; height:45px; padding:10px 0 0 0;}
.history_details .text3{ width:150px; float:left; height:45px;}
.history_details .text4{ width:150px; float:left; height:45px;}
.history_details .text5{ width:250px; float:left; height:45px;}

/*** company-setup-mockup ***/
.company_setup_text{width:960px; float:left; padding:15px 0; font-size:15px; color:#000;}
.company_setup_text ul{width:960px; margin:0; padding:0; font-size:20px; color:#fff;}
.company_setup_text ul li{ list-style:none; float:left; width:220px; padding:25px 0; text-align:center; background:#07a6de; margin:0 26px 0 0;}
.company_setup_text ul li.nospace{margin:0; float:right;}
.company_setup_text ul li a{color:#fff; text-decoration:none;}
.company_setup_text ul li a:hover{color:#fff; text-decoration:underline;}
.company_setup_text .title{width:960px; float:left; padding:0 0 25px 0; font-weight:bold;}
.company_setup_text .text1{ width:130px; float:left; height:45px; padding:5px 0 0 0;}
.company_setup_text .text2{ width:830px; float:left; height:50px;}
.company_setup_text .text2 input{border:1px solid #ccc; padding:6px 4px; font-size:13px;}

/*** employee bashboard mockup-new ***/
.employee_dashboard_box{width:550px; float:left; background:url(../images/main-box.png) repeat-x; border:1px solid #ccc; padding:9px; margin-bottom:10px;}
.employee_dashboard_box.new_border{border:0;border-top:3px solid #091e2f !important; background:none; padding:15px 9px;}
.employee_dashboard_box.no_bg{background:none;}
.employee_dashboard_box .main_img{ width:100px; float:left;}
.employee_dashboard_box .main_img img{border:1px solid #ccc; padding:2px;}
.employee_dashboard_box .text_holder{width:300px; float:left; line-height:23px;}
.employee_dashboard_box .text_holder a{color:#000; text-decoration:none;}
.employee_dashboard_box .text_holder a:hover{color:#000; text-decoration:underline;}
.employee_dashboard_box .text_holder ul{width:300px; margin:0; padding:0;}
.employee_dashboard_box .text_holder ul li{list-style:none; float:left;}
.employee_dashboard_box .text_holder ul li.title{width:300px; font-size:25px; color:#095189; padding:0 0 10px 0;}
.employee_dashboard_box .text_holder ul li.text{ width:150px; font-weight:bold;}
.employee_dashboard_box .text_holder .textbox{width:300px; float:left; padding:0px 0 0 0;}
.employee_dashboard_box .text_holder .textbox input{border:1px solid #ccc; padding:5px;}
.employee_dashboard_box .member_image{width:150px; float:left; text-align:right;}

.employee_dashboard_box .profile_text{ width:450px; float:left;}
.employee_dashboard_box .profile_text .text1{ width:100px; float:left; padding:0 0 10px 0; font-weight:bold;}
.employee_dashboard_box .profile_text .text2{ width:350px; float:left; padding:0 0 10px 0;}
.employee_dashboard_box .profile_text .text2 a{color:#000; text-decoration:none; margin:0 5px; font-weight:bold;}
.employee_dashboard_box .profile_text .text2 a:hover{text-decoration:underline;}

.eployee_profile_content{width:550px; float:left; padding:15px 0; font-family:"Arial Black"; color:#fff; font-size:30px;}
.eployee_profile_content a{color:#fff; text-decoration:none;}
.eployee_profile_content a:hover{color:#FF9900;}
.eployee_profile_content ul{width:550px; margin:0; padding:0; text-align:center;}
.eployee_profile_content ul li{width:80px; height:65px; padding:15px 0 0 0; float:left; list-style:none; background:#08497b; -moz-border-radius:100px;-webkit-border-radius:100px;border-radius:100px; margin:0 37px 0 0;}
.eployee_profile_content ul li.nospace{margin:0; float:right;}

.follower_following_box{width:550px; float:left; background:#fff; border:1px solid #ccc; padding:9px; margin-bottom:10px;}
.follower_following_box .main_img{ width:100px; float:left;}
.follower_following_box .text_holder{ width:280px; float:left;}
.follower_following_box .text_holder .text1{ width:80px; float:left; padding:5px 0 10px 0; font-weight:bold;}
.follower_following_box .text_holder .text2{ width:200px; float:left; padding:5px 0 10px 0;}
.follower_following_box .btn_holder{ width:170px; float:left; text-align:right;}
.follower_following_box .btn_holder img{margin:0 0 0 10px; float:left;}
.follower_following_box .btn_holder select{float:right; background:#143a58; color:#fff; padding:6px 5px; font-size:14px; border:1px solid #ccc; float:left;}

/*** **/
.job_evaluator{width:960px; float:left; padding:15px 0; font-size:15px; color:#000; font-size:13px; line-height:22px;}
.job_evaluator strong.heading{font-size:25px; font-weight:normal;}
.job_evaluator .text1{ width:130px; float:left; padding:0 0 10px 0; font-size:15px; color:#000; font-weight:bold;}
.job_evaluator .text2{width:830px; float:left; padding:0 0 10px 0;}
.job_evaluator .text2 input{border:1px solid #ccc; padding:5px; font-size:15px; width:450px;}
.job_evaluator .text2 .text_holder{width:430px; float:left;border:1px solid #ccc; padding:19px; font-size:15px;}
.job_evaluator .text2 .text_holder ul{width:430px; margin:0; padding:0;}
.job_evaluator .text2 .text_holder ul li{list-style:none; float:left; width:215px; height:35px; font-weight:bold;}
.job_evaluator .text2 .text_holder select{float:right; margin:0 0 0 10px; background:#143a58; color:#fff; padding:6px 5px; font-size:14px; border:1px solid #ccc;}
.job_evaluator .text2 .text_holder ul li.align{text-align:right;}

/*** SAVINGS TRACKER ***/
.savings_tracker{width:960px; float:left; padding:15px 0; font-size:15px; color:#000; font-size:13px; line-height:22px;}
.savings_tracker strong.heading{font-size:25px; font-weight:normal;}
.savings_tracker span.text1{display:block; float:left; width:70px; font-weight:bold; line-height:30px;}
.savings_tracker span.text2{display:block; float:left; width:890px; line-height:30px;}
.savings_tracker ul.box{width:960px; margin:0; padding:0; font-size:15px; font-weight:bold;}
.savings_tracker ul.box li{list-style:none; float:left; width:193px; background:#ccc; border:1px solid #666; text-align:center; margin:0 30px 0 0; padding:20px 0;}

/*** Email-design-edits ***/
.email_design_edits_navigation{ width:960px; float:left; font-size:14px; font-weight:bold; background:#091d2d; margin-bottom:15px;}
input.to{border:0; font-size:14px; color:#333; background:none; padding:5px; background:#e8e8e8;}
textarea.message{border:0; font-size:14px; color:#333; background:none; padding:5px; background:#e8e8e8;}

.email_design_edits_navigation select{float:left; margin:2px 0 0 10px; background:#143a58; color:#fff; padding:6px 5px; font-size:14px; border:1px solid #ccc;}
.email_design_edits_navigation a{color:#fff; text-decoration:none; padding:10px 20px 10px 20px; border-right:1px solid #fff; float:left}
.email_design_edits_navigation a:hover{color:#000; text-decoration:none; background:#ccc;}
.email_design_edits_navigation .selected{color:#000; text-decoration:none; background:#ccc;}

.email_design_sidebar{width:260px; float:left; background:#eaeaea; border:1px solid #ccc; padding:19px;}
.email_design_sidebar .search_holder{width:260px; float:left; padding:0 0 10px 0;}
.email_design_sidebar .textbox{ width:209px; height:28px; float:left; background:url(../images/serach-box1.png) no-repeat 0 0; padding:7px 0 0 10px;}
.email_design_sidebar .textbox input{border:0; font-size:14px; color:#333; width:220px; background:none;}
.email_design_sidebar .btn_holder{width:41px; float:left;}
.email_member_msg{width:260px; float:left; border-bottom:3px solid #333; padding:15px 0; line-height:18px;}
.email_member_msg .img_holder{ width:90px; float:left;}
.email_member_msg .text_holder{ width:170px; float:left;}
.email_member_msg .text_holder span.date{float:right; font-weight:bold;}

.email_design_main_content{ width:640px; float:left; padding:0 0 0 20px;}
.email_design_main_content .user_details{width:600px; float:left; border:1px solid #ccc; padding:19px; margin-bottom:15px; line-height:18px;} 
.email_design_main_content .user_details span.date{float:right; font-weight:bold; font-size:14px;}

.leave_reply{widows:640px; float:left; float:left; border-top:3px solid #333; padding:15px 0 0 0;}
.leave_reply .title{width:640px; float:left; font-size:17px; color:#333; text-transform:uppercase;} 
.leave_reply .textbox{width:640px; float:left; padding:15px 0;}

.leave_reply .textbox textarea{border:1px solid #ccc; background:#eaeaea; font-size:13px; font-family:Arial, Helvetica, sans-serif; padding:5px;}
.leave_reply .btn_holder{width:640px; float:left;}
.leave_reply .btn_holder span{float:right;}

/*** NEW CSS 26TH OCTOBER 2013 ***/
/*** added 100% for width***/
.banner_holder{width:100%; height:320px; padding:20px 0 0 20px; float:left; background:url(../images/banner-bg.jpg) no-repeat 0 0; font-size:15px; color:#333;}
.banner_holder h1{font-size:30px; font-weight:normal; border:0; color:#333}
.banner_holder img{margin-bottom:10px;}
.banner_holder input{border:0; background:url(../images/banner-btn3.png) no-repeat 0 0; width:163px; height:35px; padding:0 10px 0 50px; font-size:13px; color:#565556;}
.search_within{width:97%; float:left; padding:15px 0 15px 3%; color:#fff; font-size:20px; background:#0a2132;}
.search_within select{padding:5px; border:0; font-size:15px; color:#666;}
.group_container{width:100%; float:left; padding:15px 0;}
.group_container ul{width:100%; margin:0; padding:0;}
.group_container ul li{ width:158px; float:left; border:1px solid #ccc;; margin:0 40px 0 0; list-style:none;}
.group_container ul li.nospace{margin:0;}
.group_container ul li h3{padding:8px 0; text-align:center; font-size:12px; color:#333; margin:0;}
.group_container ul li h3 strong{color:#0a2132; font-size:15px;}

.discussion_group_details{width:920px; float:left; border:1px solid #ccc; background:url(../images/main-box.png) repeat-x; padding:19px;}
.discussion_group_details .img_holder{ width:150px; float:left;}
.discussion_group_details .img_holder img{border:1px solid #ccc;}
.discussion_group_details .text_holder{ width:520px; float:left; font-size:15px;}
.discussion_group_details .text_holder strong{font-size:30px;}
.discussion_group_details .btn_holder{ width:250px; float:left; text-align:right;}
/*** End Legacy **/