.p{
	width: 0px;
	height: 0px;
}
.clockin
{
	font-family:lucida sans unicode, lucida grande, sans-serif; 
	text-decoration:none; 
	display:inline-block;
	font-weight:bold; 
	color: #FFFFFF;
	background-color: #6E6663; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6E6663), to(#000000));
 	background-image: -webkit-linear-gradient(top, #6E6663, #000000);
	background-image: -moz-linear-gradient(top, #6E6663, #000000);
	background-image: -ms-linear-gradient(top, #6E6663, #000000);
	background-image: -o-linear-gradient(top, #6E6663, #000000);
	background-image: linear-gradient(to bottom, #6E6663, #000000);
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#6E6663, endColorstr=#000000);
}

.inset
	{
	display:block;
	width:150px;
	height:150px;
	border-radius:75px;
	font-size:20px;
	color:#eee;
	line-height:150px;
	text-shadow:0 0 1px #1e1e1e;
	text-align:center;
	text-decoration:none;
	opacity:0.95;
	box-shadow:0 0 4px #222 inset;
	}
.inset:hover
	{
	color:#eee;
	text-shadow:0 0 1px #666;
	text-decoration:none;
	box-shadow:0 0 4px #222 inset;
	opacity:1;
	}
	
.va
{	
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
